.wrap {
  width: 1200px;
  margin: 0 auto;
  border: 5px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header {
  height: 100px;
  background-color: skyblue;
  grid-column: 1/4;
}
.visual {
  height: 300px;
  background-color: pink;
  grid-column: 1/4;
}
.notice {
  height: 200px;
  background-color: gold;
}
.banner {
  height: 200px;
  background-color: aquamarine;
}
.link {
  height: 200px;
  background-color: greenyellow;
}
.footer {
  height: 100px;
  background-color: indianred;
  grid-column: 1/4;
}
